{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% csrf_token %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" href="{% static 'chat.css' %}">
    <title>ChatBot BEP</title>
</head>
<body>
    
    <main>
        <img src="{% static 'bep-log-removebg-preview 1.png' %}" alt="" class="logo_bep">

        <div class="chat">
            
            <div class="chat__msg_box"></div>
            
            <div class="chat__input"><input type="text" id="mensagemInput" placeholder="Digite sua mensagem..."></div>
        </div>

        <div class="infos">
            <div class="infos_segmento">
                <p class="infos_title_entrada">Tokens de Entrada</p>
                <p id="tokens_entrada_valor" class="valor_token_entrada">U$ 0,00</p>
                <p id="tokens_entrada" class="contagem_token_entrada">0</p>
            </div>
            
            <div class="infos_segmento">
                <p class="infos_title_saida">Tokens de Saida</p>
                <p id="tokens_saida_valor" class="valor_token_saida">U$ 0,00</p>
                <p id="tokens_saida" class="contagem_token_saida">0</p>
            </div>

            <div class="infos_segmento">
                <p class="infos_title_totais">Tokens Totais</p>
                <p id="tokens_total_valor" class="valor_token_totais">U$ 0,00</p>
                <p id="tokens_totais" class="contagem_token_totais">0</p>
            </div>
        </div>
        <script src="static/chat.js"></script>
    </main>
    
</body>
</html>