{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% csrf_token %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" href="../static/chat_dev/chat_dev.css">
    <title>ChatBot</title>
</head>
<body>
    
    <main>
        <div class="categorias">
            <button class="mecanica_button">Mecânica <img src="" alt=""></button>
            <button class="mecanica_button">Clinica Odontológica <img src="" alt=""></button>
            <button class="mecanica_button">Restaurante <img src="" alt=""></button>
        </div>
        <div class="chat">
            
            <div class="chat__msg_box"></div>
            
            <div class="chat__input"><input type="text" id="mensagemInput" placeholder="Digite sua mensagem..."></div>
        </div>

        <div class="infos">
            <div class="infos_segmento">
                <p class="infos_title_entrada">Tokens de Entrada</p>
                <p id="tokens_entrada_valor" class="valor_token_entrada">U$ 0,00</p>
                <p id="tokens_entrada" class="contagem_token_entrada">0</p>
            </div>
        </div>
    </main>
    
</body>
</html>