{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'setup.css' %}">
    <title>Configurações</title>
</head>
<body>
    <header>
        <img src="{% static 'carcara.png' %}" alt="">
        <span>Dados</span>
        <span>Configurações</span>
        <span>Admin</span>
    </header>
    <main>
        <div id="left_side">
            <div class="main_setup_items">
                <div class="setup_items">
                    <span class="setup_items__number">1</span>
                    <div class="setup_items__item">
                        <span class="setup_items__item__name">Lavagem Simples</span>
                        <span class="setup_items__item__value">R$ 30,00</span>
                    </div>
                </div>
            </div>
            <div id="buttons">
                <button class='button' id="button_retirar_produto">Tirar Produto -</button>
                <button class='button' id="button_adicionar_produto">Adicionar Produto +</button>
            </div>
        </div>

        <div id="right_side">
            <div id="version_line">
                <span>Teste aqui!</span>
                <span>v1.0.0 - 15/06/2025 - 15:38</span>
            </div>
            <div class="chat">
                <div class="chat__mensages">
                    <div class="chat__mensages__mensages">
                        <div class="mensage_bot mensage">
                            <span>Olá, em que posso te ajuda?</span>
                        </div>
                        <div class="mensage_user mensage">
                            <span>Nada, não.</span>
                        </div>
                    </div>
                    <div class="chat__mensages__bar">
                        <div class="chat__mensages__bar__input">
                            <input type="text" placeholder="Mande uma mensagem teste.">
                        </div>
                        <div class="chat__mensages__bar__send" onclick="">
                            Send
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>