@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
    background-color: rgb(217, 217, 217);
}
main{
    height: 90%;
    width: 100%;

    display: flex;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    gap: 5%;
    background-image: url('image.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.chat_div{
    height: 90%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.menu_chat{
    width: 22%;
    height: 100%;
    background-color: rgba(86, 86, 86, 0.8);
    font-family: "Roboto", sans-serif;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.exemplos_title{
    height: 11%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(86, 86, 86);
    color: rgb(200, 200, 200);
    font-size: 22px;
}
.chat_title{
    color: white;
    font-size: 20px;
}
.chat_subject{
    color: rgb(205, 205, 205);
    font-size: 15px;
}
.chats{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    border-bottom: 1px solid rgb(200, 200, 200);
    
}
.chats img{
    margin-right: 5%;
}
.chats:hover{
    background-color: rgb(60, 60, 60)
}
.chat{
    width: 45%;
    height: 100%;
    background-color: rgba(131, 131, 131, 0.6);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.custo_do_chat{
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: start;
    align-items: center;
    
    font-family: "Anonymous Pro", monospace;
    color: white;
    font-size: 24px;
    border-bottom: 1px solid white;
}
.custo_do_chat p{
    margin-left: 5%;
}
#custo_dolar{
    font-weight: bold;
}
.mensages{
    width: 100%;
    height: 76%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
.mensage{
    width: 44%;
    min-height: 20%;
    border-radius: 15px;
    margin: 3%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

}
.mensage_bot{
    border-top-left-radius: 0;
    background-color: rgb(211, 137, 0);
}
.mensage_bot p{
    font-size: 24px;
    margin: 8%;
    color: white;
    font-family: "Inter", sans-serif;
}
.mensage_user{
    border-top-right-radius: 0;
    background-color: rgb(227, 227, 227);
    margin-left: 51%;
    
}
.mensage_user p{
    font-size: 24px;
    margin: 8%;
    color: rgb(54, 54, 54);
    font-family: "Inter", sans-serif;
}
.mensage_bar{
    height: 8%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(225, 225, 225);
    margin-left: 5%;
}
.mensage_bar__plus{
    width: 10%;
    text-align: end;
    font-size: 32px;
    color: rgba(100, 100, 100, 0.5);
    font-weight: bolder;
}
.mensage_bar__mensage{
    width: 80%;
    justify-content: center;
    color: rgb(100, 100, 100);
    margin-left: 5%;
}
.mensage_bar__send{
    width: 10%; 
    color: rgba(100, 100, 100, 0.5);
    font-size: 16px;
}